#left{;
float:left;
padding-left: 35%;
width: 170px;
border: 2px dashed}
#right{
padding-top: %;}
h1{padding-left: 50%}
h5{padding-left: 60%}
#apple{position: relative;
float:left;
padding-left: 50%;
width: 170px;}